<html>
    <head>
        <meta charset="UTF-8">
        <title>Chat</title>
        <link rel="stylesheet" href="../static/styles/chat.css">
        <script src="https://kit.fontawesome.com/b287734c18.js" crossorigin="anonymous"></script>
    </head>
    <body onload="scroll_to_top()">
        <div class='container'>
            <div class="header_container">
                <div class='header_container_back'>
                    <a href="{{ url_for('show_user',username=session.user.username,msg='')}}">
                        <i class="fas fa-home"></i>
                        Home page
                    </a>
                </div>
                <div class='header_container_name'>
                    <span>{{room_data.OrgName}}</span>
                </div>
                <div class='header_container_hidden'>
                </div>
            </div>
            <div class = 'message_space'>
                <div class='sidebar_container'>
                    <div class='sidebar_container_channel_name'>
                        <div class='sidebar_name'>
                            <span>{{room_data.ROOM}}</span>
                        </div>
                    </div>
                    <div class='sidebar_container_user_list'>
                        {% for user in users_data %}
                        {% if user.USERNAME != session.user.username %}
                            <div id='{{user.UserID}}' class='user_list_username'>
                                <span>
                                    <i class="fas fa-user"></i>
                                    {{ user.USERNAME }}
                                </span>
                            </div>
                        {%endif%}
                        {%endfor%}
                    </div>
                </div>
                <div class='messages_container'>
                    <div class='messages' id='messages'>
                        {% for j in message_history %}
                        {% if j.UserID == session.user.user_id %}
                        <div class='outgoing_message' id='{{ j.MessageID }}'>
                            <div class='hidden'></div>
                            <div class='sent_message'>
                                <h6 class='you_username'>
                                    <i class="fa-solid fa-square-user"></i>
                                    YOU
                                </h6>
                                {% if j.Date == current_date %}
                                <h5 class='date_heading'>{{ j.Time }}</h5>
                                {% else %}
                                <h5 class='date_heading'>{{ j.Date }} - {{ j.Time }}</h5>
                                {% endif %}
                                <span class='message'>{{ j.MESSAGE }}</span>
                            </div>
                        </div>
                        {% else %}
                        <div class='incoming_message' id='{{ j.MessageID }}'>
                            <div class='recv_message'>
                                <h6 class='recv_username'>
                                    <i class="fa-solid fa-square-user"></i>
                                    {{ j.USERNAME }}
                                </h6>
                                {% if j.Date == current_date %}
                                <h5 class='date_heading'>{{ j.Time }}</h5>
                                {% else %}
                                <h5 class='date_heading'>{{ j.Date }} - {{ j.Time }}</h5>
                                {% endif %}
                                <span class='message'>{{ j.MESSAGE }}</span>
                            </div>
                            <div class='hidden'></div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class='footer_container'>
                        <div class='input_container'>
                            <form id='messageform' action='' method="POST">
                                    <div class='inner_form'>
                                        <input type = 'text' id ='usermessage' placeholder='enter message'>
                                    </div>
                                    <div class='inner_btn'>
                                        <div class='btn'>
                                            <button class='fa fa-btn' type="submit">&#xf1d8</button>
                                
                                        </div>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">

        var socket = io.connect()


        socket.on('connect',function() 
        {
            console.log('connecting to {{ room_data.RoomID }}')
            socket.emit('join_room', {
                msg: 'done',
                room: "{{ room_data.RoomID }}"
            })
        })

        socket.on('joined-room', function() {
            console.log('connected to {{ room_data.RoomID }}')
        })

        function get_datetime() {
            var date = new Date().toLocaleDateString();
            var time = new Date().toLocaleTimeString(navigator.language, {
                                hour: '2-digit',
                                minute:'2-digit'});
            return {date,time}
        }


        var form = $('#messageform').on('submit', function(e){
            e.preventDefault()
            let message = usermessage.value.trim()
            let{date, time} = get_datetime()
            console.log(date)
            console.log(time)
            if (message.length) {
                socket.emit('send_message', {
                    username: "{{ session.user.username }}",
                    room: "{{ room_data.ROOM }}",
                    roomID: "{{ room_data.RoomID }}",
                    message: message,
                    date: date,
                    time: time
                })
            }
            document.getElementById('usermessage').value = ''
        })

        function scroll_to_top() {
            var Message_pane = document.getElementById('messages')
            Message_pane.scrollTop = Message_pane.scrollHeight
        }
        

        socket.on('recieve_message', function(message_data){
            console.log(message_data)
            console.log('message '+message_data.message+' from '+message_data.username)
            if (message_data.username === '{{ session.user.username }}' ){
            const outgoing = document.createElement('div'); outgoing.className = ('outgoing_message');
            const hidden_element = document.createElement('div'); hidden_element.className = ('hidden');
            const sent = document.createElement('div'); sent.className = ('sent_message')
            const heading = document.createElement('h6'); heading.className = ('you_username')
            heading.innerHTML = `YOU`
            sent.appendChild(heading)
            const date_heading = document.createElement('h5');heading.className = ('date_heading')
            if (message_data.date === '{{ current_date }}' ){
                date_heading.innerHTML = `${message_data.time}`
            } else{
                date_heading.innerHTML = `${message_data.date} - ${message_data.time}`
            }
            sent.appendChild(date_heading)
            const message = document.createElement('p')
            message.innerHTML =`${message_data.message}`
            sent.appendChild(message)
            outgoing.appendChild(hidden_element)
            outgoing.appendChild(sent)
            document.getElementById('messages').appendChild(outgoing)
            scroll_to_top()
        } else {
            const incoming = document.createElement('div'); incoming.className = ('incoming_message');
            const recv = document.createElement('div'); recv.className = ('recv_message')
            const heading = document.createElement('h6'); heading.className = ('recv_username')
            heading.innerHTML = `${message_data.username}`
            recv.appendChild(heading)
            const date_heading = document.createElement('h5');heading.className = ('date_heading')
            if (message_data.date === '{{ current_date }}' ){
                date_heading.innerHTML = `${message_data.time}`
            } else{
                date_heading.innerHTML = `${message_data.date} - ${message_data.time}`
            }
            recv.appendChild(date_heading)
            const message = document.createElement('p')
            message.innerHTML =`${message_data.message}`
            recv.appendChild(message)
            incoming.appendChild(recv)
            document.getElementById('messages').appendChild(incoming)
            scroll_to_top()
            }  
            
        })
        /*var form = $('#messageform').on('submit', function(e){
            let message = 
        })*/
    </script>
</html>