<html>
    <head>
        <meta charset="utf-8">
        <title>Organisation List</title>
        <link rel="stylesheet" href='../static/styles/organisation.css'><!--"{{ url_for('static',filename='styles/organisation.css') }}-->
        <script src="https://kit.fontawesome.com/b287734c18.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class='container'>
            <div class='header'>
                    <div class='header_container_back'>
                        <a href="{{ url_for('logout')}}">
                            <i class="fas fa-door-open"></i>
                            Log Out
                        </a>
                    </div>
                    <div class='header_container_name'>
                        <span>{{ organisations.OrgName }}</span>
                    </div>
                    <div class='header_container_hidden'>
                    </div>
            </div>
            <div class='main-container'>
                <div class='user-container'>
                    <div class='user'>
                        <p class='user_name'>
                            {{session.user.username}}
                        </p>
                        <i class="fas fa-user"></i>
                    </div>
                    <div class='user_data'>
                        <table class='user_data_table'>
                            <tr>
                                <th><u>Username</u></th>
                                <th><u>Status</u></th>
                                <th><u>User Type</u></th>
                            </tr>
                            <tr>
                                <td>{{session.user.username}}</td>
                                <td>{{session.user.status}}</td>
                                <td>{{session.user.user_role}}</td>
                            </tr>
                        </table>
                        <div>
                            <button class='updatebtn' id='updateStatus'>Change Status</button>
                        </div>
                    </div>
                    <div id='update_status' class='modal_form'>
                        <div class='content'>
                            <form class='update_status_form' action='/{{session.user.username}}' method='POST'>
                                <div class='header_container'>
                                    <span class='close'>&times;</span>
                                    <img class='header_container_image'  src='../static/Berkhamsted_School_.png'  alt='Logo'><!--'{{ url_for("static",filename="Berkhamsted_School_.png") }}'-->
                                </div>
                                <div  class='form_content'>
                                    <input type="hidden" name="name" value='update_status_form' required>
                                    <label for='statuses'>Update your status:</label>
                                    <select id='statuses' name='status'>
                                        {% for status in status_info %}
                                            <option value='{{status.StatusID}}'>{{status.STATUS}}</option>
                                        {% endfor %}
                                    </select>
                                    <button class='form_button' type="submit">Submit</button>
                                </div>
                                <div class='form_footer'>
                                    <button onclick="document.getElementById('update_status').style.display='none'"
                                    class='cancel_button'>Cancel</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                
                
                <div class='channel-container'>
                    <p style='color:red'><b>{{ session.message }}</b></p>
                    {% if session.user.org_id == 0 %}
                        <div>
                            <P>Looks like you aren't part of an Organisation yet!</P>
                            <button class='createbtn' id='createOrg'>Create New Organisation</button>
                            <button class='createbtn' id='joinOrg'>Join Existing Organisation</button>
                        </div>
                        <div id='create_org' class='modal_form'>
                            <div class='content'>
                                <form class='create_org_form' action="/{{session.user.username}}" method='POST'>
                                    <div class='header_container'>
                                        <span class='close'>&times;</span>
                                        <img class='header_container_image'  src='../static/Berkhamsted_School_.png'  alt='Logo'><!--'{{ url_for("static",filename="Berkhamsted_School_.png") }}'-->
                                    </div>
                                    <div  class='form_content'>
                                        <label for='orgname'>Create Organisation Name</label>
                                        <input type="hidden" name="name" value='create_org_form' required>
                                        <input class='form_input' type='text' placeholder='Enter Organisation Name' name='orgname' required>
                                        <label for='orgpass'>Create Organisation Password</label>
                                        <input class='form_input' type='text' placeholder='Enter Organisation Password' name='orgpass' required>
                                        <label>
                                            <input class='form_input' type='checkbox' checked='checked' name='CreateChannels' >Create General Channels
                                        </label>
                                        <button class='form_button' onclick='reset_forms(create_org)' type="submit">Submit</button>
                                        
                                    </div>
                                    <div class='form_footer'>
                                        <button onclick="document.getElementById('create_org').style.display='none'"
                                        class='cancel_button'>Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
            
                        <div id='join_org' class='modal_form'>
                            <div class='content'>
                                <form class='join_org_form' action='/{{session.user.username}}' method='POST'>
                                    <div class='header_container'>
                                        <span class='close'>&times;</span>
                                        <img class='header_container_image'  src='../static/Berkhamsted_School_.png'  alt='Logo'><!--'{{ url_for("static",filename="Berkhamsted_School_.png") }}'-->
                                    </div>
                                    <div  class='form_content'>
                                        <label for='orgname'>Organisation Name</label>
                                        <input type="hidden" name="name" value='join_org_form' required>
                                        <input class='form_input' type='text' placeholder='Enter Organisation Name' name='orgname' required >
                                        <label for='orgpass'>Organisation Password</label>
                                        <input class='form_input' type='text' placeholder='Enter Organisation Password' name='orgpass' required>
                                        <button class='form_button' type="submit">Submit</button>
                                    </div>
                                    <div class='form_footer'>
                                        <button onclick="document.getElementById('join_org').style.display='none'"
                                        class='cancel_button'>Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {% else %}
                        <h2>Channels:</h2>
                        <div class='Group-container'>
                            {% for i in public_channel_data %}
                                <div class='room' id='{{ i.RoomID }}'>
                                    <a href='{{ url_for("chat",room_id=i.RoomID) }}'>
                                        <h4>{{ i['ROOM'] }}</h4>
                                    </a>
                                </div>
                            {% endfor %}
                        </div>
                        <h2>Private Messages:</h2>
                        <div class='Private-container'>
                            {% for i in private_channel_data %}
                                <a href='{{ url_for("chat",room_id=i.RoomID) }}'>
                                    <div class='room' id='{{ i.RoomID }}'>
                                        <h4>{{ i.USERNAME }}</h4>
                                    </div>
                                </a>
                            {%endfor%}
                        </div>
                        <div>
                            <button class='createbtn' id='createRoom'>Create New Room</button>
                        </div>
                        <div id='create_room' class='modal_form'>
                            <div class='content'>
                                <form class='create_room_form' action='/{{session.user.username}}' method='POST'>
                                    <div class='header_container'>
                                        <span class='close'>&times;</span>
                                        <img class='header_container_image'  src='../static/Berkhamsted_School_.png'  alt='Logo'><!--'{{ url_for("static",filename="Berkhamsted_School_.png") }}'-->
                                    </div>
                                    <div  class='form_content'>
                                        <label for='roomname'>Room Name</label>
                                        <input type="hidden" name="name" value='create_room_form' required>
                                        <input class='form_input' type='text' placeholder='Enter Room Name' name='roomname' required >
                                        <button class='form_button' type="submit">Submit</button>
                                    </div>
                                    <div class='form_footer'>
                                        <button onclick="document.getElementById('create_room').style.display='none'"
                                        class='cancel_button'>Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    {%endif%}
                </div>
                <!--<p style='color:red'><b>{{ message }}</b></p>
                {% if session.user.org_id == 0 %}
                    <P>Looks like you aren't part of an Organisation yet!</P>
                    <button class='createbtn' id='createOrg'>Create New Organisation</button>
                    <button class='createbtn' id='joinOrg'>Join Existing Organisation</button>
                {% else %}
                    {% for i in channel_data %}
                    <a href='{{ url_for("chat",room_id=i.RoomID) }}'>
                        <div class='room' id='{{ i.RoomID }}'>
                            <h4>{{ i['ROOM'] }}</h4>
                        </div>
                    </a>
                    {% endfor %}
                {%endif%}-->
                
                

                
            </div>
        </div>
    </body>
    <script>
        window.onload = function(){
            console.log(document.getElementsByClassName('close'))
            var create_org_modal = document.getElementById('create_org');
            var join_org_modal = document.getElementById('join_org');
            var update_status_modal = document.getElementById('update_status');
            var create_room_modal = document.getElementById('create_room');

            var createOrg = document.getElementById('createOrg');
            var joinOrg = document.getElementById('joinOrg');
            var updateStatus = document.getElementById('updateStatus');
            var createRoom = document.getElementById('createRoom');

            var create_span = document.getElementsByClassName('close')[1];
            var join_span = document.getElementsByClassName('close')[2];
            var update_span = document.getElementsByClassName('close')[0];
            var create_room_span = document.getElementsByClassName('close')[1];/*only 2 picked up by DOM as only 2 forms are loaded*/
            

            updateStatus.onclick = function(){
                update_status_modal.style.display='block';
            }

            update_span.onclick = function(){
                update_status_modal.style.display='none'
            }


            if (joinOrg != null && createOrg!= null){
                createOrg.onclick = function(){
                    create_org_modal.style.display='block';
                }

                joinOrg.onclick = function(){
                    join_org_modal.style.display='block';
                }

                create_span.onclick = function(){
                    create_org_modal.style.display='none';
                }

                join_span.onclick = function(){
                    join_org_modal.style.display='none';
                }
            }

            if (createRoom != null){
                createRoom.onclick =function(){
                    create_room_modal.style.display ='block';
                }

                create_room_span.onclick = function(){
                    create_room_modal.style.display='none';
                }
            }



           

            window.onclick = function(event){
                if (event.target == create_org_modal 
                    || event.target == join_org_modal
                    || event.target == update_status_modal
                    || event.target == create_room_modal) {
                    create_org_modal.style.display='none';
                    join_org_modal.style.display='none';
                    update_status_modal.style.display='none';
                    create_room_modal.style.display='none';
                }
            }

        }
        
       
     
    </script>
</html>




<!--<span onclick="document.getElementById('create_org').style.display='none'"
            class='close' title='Close Modal'>&times;</span>
            <form class='create_org_form' action='' method='post'>
                <div calss='header_container'>
                    <img class='header_container_image'  src='{{ url_for("static",filename="Berkhamsted_School_.png") }}' alt='Logo'>
                </div>
                <div class='form_content'>
                    <input class='form_input' type='text' placeholder='Enter Organisation Name' name='orgname' >
                    <input class='form_input' type='text' placeholder='Enter Organisation Password' name='orgpass' >
                    <button type="submit">Submit</button>
                </div>
                <div class='form_footer'>
                    <button onclick="document.getElementById('create_org').style.display='none'"
                    class='cancel_button'>Cancel</button>
                </div>
            </form>-->